.preview-card-component {
  display: flex;
  flex-direction: column;
  height: 1326px;
  width: 327px;
  border-radius: 7.5px;
  overflow: hidden;
}

.preview-card-component section {
  flex: 1;
  padding-left: 49px;
}

.preview-card-component img {
  margin-top: 48px;
  margin-bottom: 31px;
}

.preview-card-component h2 {
  color: #f2f2f2;
  font: 700 40px "Big Shoulders Display", cursive;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.preview-card-component p {
  width: 235px;
  line-height: 1.67;
  margin-bottom: 25px;
}

.preview-card-component button {
  font: 400 15px "Lexend Deca", sans-serif;
  border-radius: 30px;
  padding: 14.5px 31.5px;
  cursor: pointer;
}

.preview-card-component button:hover {
  border: 2px solid #f2f2f2;
  color: #f2f2f2;
  padding: 12.5px 29.5px;
}

/* CARD-SEDANS-SECTION */
.card-sedans-section {
  background-color: #e38826;
}

.card-sedans-button {
  color: #e38826;
}

.card-sedans-button:hover {
  background-color: #e38826;
}

/* CARD-SUVS-SECTION */
.card-suvs-section {
  background-color: #006970;
}

.card-suvs-button {
  color: #006970;
}

.card-suvs-button:hover {
  background-color: #006970;
}

/* CARD-LUXURY-SECTION */
.card-luxury-section {
  background-color: #004241;
}

.card-luxury-button {
  color: #004241;
}

.card-luxury-button:hover {
  background-color: #004241;
}

/* RESPONSIVE DESIGN (DESKTOP) */
@media all and (min-width: 1000px) {
  .preview-card-component {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 920px;
  }

  .preview-card-component section {
    padding-left: 48px;
  }

  .preview-card-component p {
    width: 210px;
    margin-bottom: 83px;
  }
}
